{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css_files %}
<style>
    .position {
        margin-left: 217px;
        position: absolute;
        top: 70px;
    }


    .info {
        font-size: 15px;
        padding-left: 100px;
        margin-bottom: 2px;
    }


    .tag {
        display: inline-block;
        text-decoration: none;
        color: rgb(24, 67, 206);
        background: #c7dbe2;
        width: 70px;
        height: 20px;
        border-radius: 5px;
        text-align: center;
        transform: translateY(-30px);
        font-size: small;
    }

    .quest_card {
        border-top: 1px solid rgb(170, 170, 170);
        width: 70%;
        margin-left: 250px;
        margin-bottom: 15px;
    }

</style>
{% endblock %}

{% block title %} home {% endblock %}

{% block context %}
<div class="container position">

    <div style="margin-left: 270px; margin-top: 15px; margin-bottom: 80px;">
        <h3 style="text-transform: uppercase; font-weight: 400;">Sorular</h3>
        <a href="{% if user.is_authenticated %}{% url 'form_page' %}{% else %}{% url 'login' %}{% endif %}" class="btn btn-primary" style="position: absolute; right: 9rem; top: 1rem;">Soru sor</a>
        <p style="position: absolute; top: 80px; font-weight: 500; font-size: large;">{{ question_count }} soru</p>
    </div>

    {% if questions|length == 0 %}
        <div class="alert alert-dark" style="width: 60rem; position: absolute; right: 5rem;">Soru bunamadı !</div>
    {% endif %}

    {% for item in questions %}
    <div class="quest_card" {% if not item.tags__name %} style="margin-bottom: 10px;" {% endif %}>
        <div>
            <div style="padding-top: 10px; padding-bottom: 20px;">
                <p class="info">{{ item.vote }} oylar</p>
                <p class="info">{{ item.ann_answer }} cevap</p>
                <p class="info">{{ item.view }} Görüntüleme</p>
            </div>
            
            {% if user.is_authenticated %}
            <a style="text-decoration: none; font-size: large; font-weight: bold;" href="{% url 'question_detail' pk=item.id %}"><h5 style= "margin-left: 250px; margin-top: -100px; margin-bottom: 40px;">{{ item.title }}</h5></a>
            {% else %}
            <a style="text-decoration: none; font-size: large; font-weight: bold;" href="{% url 'login' %}"><h5 style= "margin-left: 250px; margin-top: -100px; margin-bottom: 40px;">{{ item.title }}</h5></a>
            {% endif %}

            {% for tag in item.tags.all %}
                <a {% if forloop.first %}style="margin-left: 250px;"{% endif %}  href="{% if user.is_authenticated %}{% url 'tag_detail' tag.name %}{% else %}{% url 'login' %}{% endif %}" class="tag">{{ tag.name }}</a>
            {% endfor %}


            <div class="float-end" style="font-size: 14px;">
                <a href="{% if item.user.username == request.user.username %}{% url 'profile_page' %}{% elif user.is_authenticated %}{% url 'user_profile' item.user.username %}{% else %}{% url 'login' %}{% endif %}">{{ item.user__username }}</a> &nbsp; {{item.published_date|naturaltime }} &nbsp; soruldu
            </div>
        </div>
    </div>
    {% endfor %}
    <div style="margin-top: 100px;">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; ilk</a></li>
                {% endif %}

            
                {% for page_number in page_obj.paginator.page_range %}
                    {% if page_obj.number == page_number %}
                        <li class="page-item active"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                    {% endif %}
                {% endfor %}
            

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">son &raquo;</a></li>
                {% endif %}

            </ul>
        </nav>
    </div>
</div>
{% block js_files %}
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

</script>
{% endblock %}
{% endblock %}