{% extends 'base.html' %}

{% block title %}profile{% endblock %}

{% block css_files %}
<style>
    .img {
        position: absolute;
        top: 75px;
        border: 1px solid #ccc;
        border-radius: 10px;
        left: 32rem;
        width: 180px;
        height: 180px;
    }

    .profile_edit_button {
        border: 1px solid #ccc;
        position: absolute;
        text-align: center;
        line-height: 33px;
        text-decoration: none;
        color: black;
        border-radius: 10px;
        top: 75px;
        right: 26rem;
        width: 150px;
        height: 39px
    }


    .profile_button {
        border-radius: 15px;
        text-align: center;
        line-height: 22px;
        text-decoration: none;
        color: black;
        position: absolute;
        top: 17rem;
        left: 32rem;
        width: 70px;
        height: 25px;
        transition: .3s ease;
    }


    .activity_button {
        border-radius: 15px;
        line-height: 22px;
        text-decoration: none;
        color: black;
        position: absolute;
        text-align: center;        
        top: 17rem;
        left: 37rem;
        width: 70px;
        height: 25px;
        transition: .3s ease;
    }


    .saved_button {
        border-radius: 15px;
        line-height: 22px;
        text-decoration: none;
        color: black;
        position: absolute;
        text-align: center;        
        top: 17rem;
        left: 42.5rem;
        width: 110px;
        height: 25px;
        transition: .3s ease;
    }

    .saved_button:hover {
        background-color: lightgray;
    }

    .profile_button:hover {
        background-color: lightgray;
    }

    .button  {
        text-decoration: none;
        color: black;
        padding-left: 1rem;
        transition: .3s ease;
        border-radius: 15px;
        width: 130px;
    }

    .button:hover{
        background: lightgray;
    }


    .tag {
        color: rgb(24, 67, 206);
        background: #c7dbe2;
        width: 70px;
        height: 20px;
        border-radius: 5px;
        text-align: center;
        font-size: small;
    }

    
</style>
{% endblock %}

{% block context %}
<div class="container">
    <div style="display: flex;">
        <a href="{% url 'profile_page' %}"><img class="img" src="{{ user_profile.profile_picture.url }}" alt="{{ user_profile.user.username }} profile photo"></a>
        <h1 style="position: absolute; top: 110px; left: 44rem; font-weight: 400;">{{  user_profile.user.username }}</h1>
    </div>
    {% if user == request.user %}
    <a class="profile_edit_button" href="{% url 'edit_profile' %}"><i class="fa-solid fa-pencil"></i>profili düzenle</a>
    {% endif %}
    <a class="profile_button" href="{% url 'profile_page' %}">profil</a>
    <a class="activity_button" {% if request.resolver_match.url_name == "tags_page" %} style="background: orange; color: white;" {% endif %} href="{% url 'activity' %}">aktivite</a> 
    <a class="saved_button" href="{% url 'saved_page' %}">Kaydedilenler</a>
    <a class="button" style="position: absolute; top: 20rem; left: 32rem;" href="{% url 'activity' %}">Özet</a> 
    <a class="button" style="position: absolute; top: 22rem; left: 32rem;" href="{% url 'answers_page' %}">Yanıtlar</a> 
    <a class="button" style="position: absolute; top: 24rem; left: 32rem;" href="{% url 'questions_page' %}">Sorular</a> 
    <a class="button" style="position: absolute; top: 26rem; left: 32rem; {% if request.resolver_match.url_name == 'tags_page' %} background: lightgray; {% endif %}" href="{% url 'tags_page' %}">Etiketler</a>

    <div>
        <p style="position: absolute; top: 20rem; left: 47rem; font-size: 23px;">{{ tag_count }} Etiket</p>
        <div style="border: 1px solid #ccc; border-radius: 10px; width: 600px; height: 307px; position: absolute; top: 22rem; left: 47rem; overflow: auto;">
            {% for tag in order_tags %}
                <div style="border-bottom: 1px solid #ccc; padding: 15px 0 15px 0;">
                    <div class="tag" style="margin-left: 20px;">
                        <a href="{% url 'tag_detail' tag.name %}" style="text-decoration: none;">{{ tag.name }}</a>
                    </div>
                    <div style="float: right; position: relative; bottom: 25px; right: 10px; font-size: 18px;">
                        {{ tag.que_count }} gönderiler
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}