{% extends 'base.html' %}

{% block title %}profile{% endblock %}

{% block css_files %}
<style>
    .img {
        position: absolute;
        top: 75px;
        border: 1px solid #ccc;
        border-radius: 10px;
        left: 32rem;
        width: 180px;
        height: 180px;
    }

    .profile_edit_button {
        border: 1px solid #ccc;
        position: absolute;
        text-align: center;
        line-height: 33px;
        text-decoration: none;
        color: black;
        border-radius: 10px;
        position: absolute;
        top: 75px;
        right: 26rem;
        width: 150px;
        height: 39px
    }


    .profile_button {
        border-radius: 15px;
        text-align: center;
        line-height: 22px;
        text-decoration: none;
        color: black;
        position: absolute;
        top: 17rem;
        left: 32rem;
        width: 70px;
        height: 25px;
        transition: .3s ease;
    }


    .activity_button {
        border-radius: 15px;
        line-height: 22px;
        text-decoration: none;
        color: black;
        position: absolute;
        text-align: center;        
        top: 17rem;
        left: 37rem;
        width: 70px;
        height: 25px;
        transition: .3s ease;
    }


    .saved_button {
        border-radius: 15px;
        line-height: 22px;
        text-decoration: none;
        color: black;
        position: absolute;
        text-align: center;        
        top: 17rem;
        left: 42.5rem;
        width: 110px;
        height: 25px;
        transition: .3s ease;
    }


    .activity_button:hover {
        background-color: lightgray;
    }

    .profile_button:hover {
        background-color: lightgray;
    }


    .tag {
        color: rgb(24, 67, 206);
        background: #c7dbe2;
        width: 70px;
        height: 20px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-size: small;
        position: relative;
        left: 1.5rem;
        top: 0.7rem;
    }

    
</style>
{% endblock %}

{% block context %}
<div class="container">
    <div style="display: flex;">
        <a href="{% url 'profile_page' %}"><img class="img" src="{{ user_profile.profile_picture.url }}" alt="{{ user_profile.user.username }} profile photo"></a>
        <h1 style="position: absolute; top: 110px; left: 44rem; font-weight: 400;">{{  user_profile.user.username }}</h1>
    </div>
    {% if user == request.user %}
    <a class="profile_edit_button" href="{% url 'edit_profile' %}"><i class="fa-solid fa-pencil"></i>profili düzenle</a>
    {% endif %}
    <a class="profile_button" href="{% url 'profile_page' %}">Profil</a>
    <a class="activity_button" href="{% url 'activity' %}">Aktivite</a>
    <a class="saved_button" {% if request.resolver_match.url_name == "saved_page" %} style="background: orange; color: white;" {% endif %} href="{% url 'saved_page' %}">Kaydedilenler</a>
    


        {% if mySaved|length == 0 %}
            <div class="alert alert-danger" style="position: relative; top: 20rem; left: 23rem; width: 50rem; text-align: center;">Kayıtlı öğeniz bulunamadı !</div>
        {% endif %}

        <div class="row" style="margin-top: 100px; margin-right: 50px;">
            <div class="col-12" style="position: relative; top: 15rem; left: 23rem; width: 53rem;">
                {% if mySaved %}<p style="font-size: 17px; font-weight: 500;">{{saved_count}} Kayıtlı öğe</p>{% endif %}
                {% for item in mySaved %}
                <div class="card" style="border-radius: 0px;">
                    <div style="display: flex; padding: 10px 0 0 30px;">
                        <p class="card-title" style="margin-right: 20px;">{{ item.que.votes }} oylar</p>
                        <p class="card-title" style="margin-right: 20px;">{{ item.answer_count }} cevap</p>
                        <p class="card-title" style="margin-right: 20px;"> {{ item.que.view }} görüntüleme</p>
                        <div class="dropdown" style="margin-left: 26rem;">
                            <button type="button" style="position: relative; left: 5rem;" class="btn btn-light-primary btn-icon btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'is_saved' pk=item.que.id %}">Kaydetmeyi ipytal et</a></li>
                            </ul>
                        </div>
                    </div> 
                    <a href="{% url 'questionDetail' item.que.pk %}" class="card-content" style="position: relative; left: 2rem; text-decoration: none; font-size: 20px;">{{ item.que.title }}</a>
                    <div style="display: flex;">
                        {% for tag in item.que.tags.all %}
                            <a href="{% url 'tag_detail' tag.name %}" class="tag">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    <div style="display: flex; justify-content: end; position: relative; right: 1rem;">
                        <p>{{ item.que.user }}</p>
                        <p style="margin-left: 20px;">{{ item.que.published_date }} tarihinde soruldu</p>
                    </div>
                </div>
                {% endfor %}  
            </div>
        </div>
    </div>




    <div style="position: absolute; top: 73rem; left: 60rem; border: 1px solid white; width: 10px;"></div>
</div> 


{% endblock %}